#banner {
  font-family: 'Passion One', cursive;
  color: #9F000F
  height: 2.75em;
  background-image: url("http://cdn.pcwallart.com/images/lava-texture-wallpaper-1.jpg");
  background-size: 100%;
}
